@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeftInitial {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-102%);
  }
}

@keyframes slideNavWidth {
  0% {
    width: 15px;
  }
  100% {
    width: 30px;
  }
}
@keyframes slideNavWidthInitial {
  0% {
    width: 30px;
  }
  100% {
    width: 15px;
  }
}