.contact {
  background-color: $color-theme;
  z-index: -1;
  position: relative;
  h3 {
    max-width: 16rem;
    @include bp-small {
      margin: 0 auto;
    }
    .strikethrough::before {
      background-color: $color-white;
    }
  }
  p {
    margin: 2.5rem 0;
    max-width: 35rem;
    color: $text-light-grey;
    @include bp-small {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
}