<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  @@include('../partials/modules/moHeader.html')
  @@include('../partials/modules/moNumberNav.html')
  @@include('../partials/modules/moHero.html')
  @@include('../partials/modules/moCommunity.html')
  @@include('../partials/modules/moLocation.html')
  @@include('../partials/modules/moMenu.html')
  @@include('../partials/modules/moContact.html')
  @@include('../partials/modules/moFooter.html')
  @@include('../partials/scripts/common.html')
</body>

</html>