<section class="community -padding-80" id="community">
	<div class="wrapper">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-5 col-lg-6">
				<div class="community__header">
					@@include('../partials/components/coTitle.html', {
            "h-tag": "h3",
            "class": "title",
            "title": "Meet Our",
            "st": "Community",
            "small":""
					})

					@@include('../partials/components/coButton.html', {
            "text": "Know More",
            "link": "../somewhere.html",
            "btn-class": "-color-theme"
					})

					@@include('../partials/components/coTitle.html', {
            "h-tag": "h4",
            "class": "title",
            "title": "LOREM IPSUM DOLOR SIT AMET ERNUT TEMPARTERO SERTU PER NABORE EN TORNA ENTALTO",
            "st": "",
					  "small": ""
					})
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
				<div class="social -top-offset">

					@@include('../partials/components/coSocialImg.html', {
            "asset-name": "insta-img-01",
            "pattern": "-pattern-plus"
					})

					@@include('../partials/components/coSocialText.html', {
            "pattern": "-pattern-zebra",
            "title": "@buzzfeedfood",
            "text": "It’s taco Tuesday! These tacos from @jesseszewczyk have no added sugars and are SO good 🌮. Find the recipe from the link in our bio! 📸: @taylormillerphoto",
            "comments": "44",
            "love": "33k"
					})

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<div class="social">
					@@include('../partials/components/coSocialText.html', {
            "pattern": "-pattern-dots",
            "title": "@love_food",
            "text": "Waffle sticks in Copenhagen! 🇩🇰😍 Milk chocolate with sprinkles, dark chocolate with coconut and milk chocolate with peanuts! [📷: @foodwithmichel] #lovefood",
            "comments": "44",
            "love": "33k"
					})

					@@include('../partials/components/coSocialImg.html', {
					"asset-name": "insta-img-01"
					})
				</div>
			</div>
		</div>
		<div class="row middle-xs">
			<div class="col-xs-12 col-sm-4 col-md-5 col-lg-6">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-lg-6">
						<p class="community__para">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium eaque ipsa ipsam voluptatibus
							adipisci a omnis id quod aut!
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
				<div class="social">

					@@include('../partials/components/coSocialText.html', {
            "title": "@love_food",
            "text": "Waffle sticks in Copenhagen! 🇩🇰😍 Milk chocolate with sprinkles, dark chocolate with coconut and milk chocolate with peanuts! [📷: @foodwithmichel] #lovefood",
            "comments": "44",
            "love": "33k"
					})

					@@include('../partials/components/coSocialImg.html', {
					  "asset-name": "insta-img-01"
					})

				</div>
			</div>
		</div>
	</div>
</section>