<section class="contact">
  <div class="wrapper -padding-80">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
          @@include('../partials/components/coTitle.html', {
            "h-tag": "h3",
            "class": "title",
            "title": "",
            "st": "WITH US",
            "small":"COLLABORATE"
          })
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, delectus unde! Nulla minima illum optio quis quod quaerat rerum aliquid.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis commodi hic libero voluptas, excepturi labore repellendus veritatis accusamus voluptate, id optio tempora totam magnam voluptatibus unde, modi ex eos quia!
          </p>
      </div>
    </div>
  </div>
</section>