<footer class="footer">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row center-xs start-sm">
          <div class="col-xs-2">
            <div class="footer__nav">
                @@include('../partials/components/coTitle.html', {
                  "h-tag": "h6",
                  "class": "title",
                  "title": "location",
                  "st": "",
                  "small":""
                })
              <ul>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="footer__nav">
                @@include('../partials/components/coTitle.html', {
                  "h-tag": "h6",
                  "class": "title",
                  "title": "location",
                  "st": "",
                  "small":""
                })
              <ul>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="footer__nav">
                @@include('../partials/components/coTitle.html', {
                  "h-tag": "h6",
                  "class": "title",
                  "title": "location",
                  "st": "",
                  "small":""
                })
              <ul>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="footer__nav">
                @@include('../partials/components/coTitle.html', {
                  "h-tag": "h6",
                  "class": "title",
                  "title": "location",
                  "st": "",
                  "small":""
                })
              <ul>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="footer__nav">
                @@include('../partials/components/coTitle.html', {
                  "h-tag": "h6",
                  "class": "title",
                  "title": "location",
                  "st": "",
                  "small":""
                })
              <ul>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
                <li><a href=""> Subsection </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer__logo ">
            <img src="./assets/images/logo-footer.svg" alt="">
        </div>
      </div>
    </div>
    <div class="row footer__bottom">
      <div class="col-xs-12 col-md-8">
        <p class="footer__copyright">
          2019 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, voluptas!
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="footer__social">
          <ul>
            <li><a href=""> <img width="16" height="16" src="./assets/images/facebook-icon.svg" alt=""> </a></li>
            <li><a href=""> <img width="16" height="16" src="./assets/images/twitter-icon.svg" alt=""> </a></li>
            <li><a href=""> <img width="16" height="16" src="./assets/images/instagram-icon.svg" alt=""> </a></li>
            <li><a href=""> <img width="16" height="16" src="./assets/images/linkedin-icon.svg" alt=""> </a></li>
            <li><a href=""> <img width="16" height="16" src="./assets/images/dribbble-icon.svg" alt=""> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>