<section class="menu" id="menu">
	<div class="wrapper">
		<div class="row center-xs">
			<div class="menu__header -padding-80">
					@@include('../partials/components/coTitle.html', {
						"h-tag": "h3",
						"class": "title",
						"title": "",
						"st": "Our Menu",
						"small":""
					})

					@@include('../partials/components/coButton.html', {
						"text": "Know More",
						"link": "../somewhere.html",
						"btn-class": "-color-theme"
					})
			</div>
		</div>
		<div class="row menu__cats">
			<div class="col-xs-6 col-sm-3">
				<div class="menu__cats__single">
					<div class="scroll-wrapper scroll-item-one scroll-up">
              @@include('../partials/components/coTitle.html', {
                "h-tag": "h3",
                "class": "title",
                "title": "Starters",
                "st": "",
                "small":""
              })

              @@include('../partials/components/coMenuItem.html', {
                "itemName": "QUINOA CROQUETTAS",
                "itemDetails": "Quinoa and cheddar croquettas with aji rocotto & pineapple salsa (v)",
                "itemPrice": "4.95"
              })

              @@include('../partials/components/coMenuItem.html', {
                "itemName": "CHIFA CHICHARRONES",
                "itemDetails": "Slow cooked, crispy pork belly with sweet soy sauce",
                "itemPrice": "6.95"
              })

              @@include('../partials/components/coMenuItem.html', {
                "itemName": "CALAMARES",
                "itemDetails": "Crispy baby squid with pickled jalapeño miso salsa",
                "itemPrice": ".95"
              })

          </div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="menu__cats__single">
            <div class="scroll-wrapper scroll-item-two scroll-down">
                @@include('../partials/components/coTitle.html', {
                  "h-tag": "h3",
                  "class": "title",
                  "title": "MAIN COURSES",
                  "st": "",
                  "small": ""
                })

                @@include('../partials/components/coMenuItem.html', {
                  "itemName": "El Clasico",
                  "itemDetails": "Sea bass ceviche with aji limo tiger’s milk, sweet potato purée, choclo corn, red onion, coriander & plantain (gf)",
                  "itemPrice": "8.95"
                })

                @@include('../partials/components/coMenuItem.html', {
                  "itemName": "TIRADITO CALLAO",
                  "itemDetails": "Cobia tiradito with coriander tiger’s milk, black tobika, crème fraiche & sweet potato crunchies",
                  "itemPrice": "9.95"
                })
            </div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="menu__cats__single">
            <div class="scroll-wrapper scroll-item-three scroll-up">
                @@include('../partials/components/coTitle.html', {
                  "h-tag": "h3",
                  "class": "title",
                  "title": "SIDES",
                  "st": "",
                  "small":""
                })

                @@include('../partials/components/coMenuItem.html', {
                  "itemName": "SUPER POLLO",
                  "itemDetails": "Marinated corn fed chicken pieces with rocotto salsa",
                  "itemPrice": "4.95"
                })

                @@include('../partials/components/coMenuItem.html', {
                  "itemName": "PATATAS FRITAS",
                  "itemDetails": "Sweet potato fries with aji rocotto mayonnaise (v)",
                  "itemPrice": "3.95"
                })
            </div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="menu__cats__single">
            <div class="scroll-wrapper scroll-item-four scroll-down">
                @@include('../partials/components/coTitle.html', {
                  "h-tag": "h3",
                  "class": "title",
                  "title": "DESSERTS",
                  "st": "",
                  "small":""
                })

                @@include('../partials/components/coMenuItem.html', {
                  "itemName": "ICECREAM",
                  "itemDetails": "Quinoa and cheddar croquettas with aji rocotto & pineapple salsa (v)",
                  "itemPrice": "4.95"
                })

                @@include('../partials/components/coMenuItem.html', {
                  "itemName": "TIRAMISU",
                  "itemDetails": "Slow cooked, crispy pork belly with sweet soy sauce",
                  "itemPrice": "6.95"
                })

                @@include('../partials/components/coMenuItem.html', {
                  "itemName": "CHOCOLATE BROWNIE",
                  "itemDetails": "Crispy baby squid with pickled jalapeño miso salsa",
                  "itemPrice": ".95"
                })
            </div>
				</div>
			</div>
		</div>
	</div>
</section>