<nav class="number-nav">
  <ul>
    <li class="number-nav__number">
      <span class="section-number">01</span>
    </li>
    <li>
      <a class="-active" href="#about">
        <span class="number-nav__line"></span>
      </a>
    </li>
    <li>
      <a href="#community">
        <span class="number-nav__line"></span>
      </a>
    </li>
    <li>
      <a href="#location">
        <span class="number-nav__line"></span>
      </a>
    </li>
    <li>
      <a href="#menu">
        <span class="number-nav__line"></span>
      </a>
    </li>
    <li>
      <a href="#recipes">
        <span class="number-nav__line"></span>
      </a>
    </li>
  </ul>
</nav>